.container {
  position: fixed;
  z-index: 500;
  top: 58px;
  right: 0;
  height: calc(100% - 58px);
  transition: ease 300ms;
}

.chat > p {
  width: fit-content;
  max-width: 85%;
}

.my > p {
  background-color: #0d6efd;
  color: white;
}

.him > p {
  background-color: #ededed;
}

.btnShowChat {
  position: absolute;
  height: 40px;
  width: 20px;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px;
  top: 50%;
  left: -27px;
}

.cardChatBox {
  height: 50%;
  min-height: 290px;
  width: 350px;
}

.chatBox {
  height: 180px;
}

.chatBox::-webkit-scrollbar {
  width: 5px;
  background-color: lightgray;
  border-radius: 10px;
}

.chatBox::-webkit-scrollbar-thumb {
  background-color: rgb(165, 165, 165);
  border-radius: 10px;
}

.chatBox::-webkit-scrollbar-thumb:hover {
  background-color: rgb(116, 116, 116);
}

.listChat {
  width: 250px;
  height: 100%;
}

.listChatHide {
  transform: translateX(250px);
}

.listChatOpen {
  transform: translateX(0px);
}

.loadingChat {
  position: absolute;
  top: 45%;
  left: 45%;
}
