.textBtn {
  cursor: pointer;
}

.textBtn:hover {
  font-weight: 500;
}

.ifocus:focus {
  box-shadow: none;
}

.errorMsg {
  position: absolute;
  bottom: 0;
  text-align: right;
  padding-right: 12px;
  font-size: 9px;
}

.bgContainer {
  background: linear-gradient(232deg, rgba(48, 207, 208, 1) 11.2%, rgba(51, 8, 103, 1) 92.5%);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 17s ease infinite;
  -moz-animation: AnimationName 17s ease infinite;
  -o-animation: AnimationName 17s ease infinite;
  animation: AnimationName 17s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 15%;
  }
  50% {
    background-position: 100% 86%;
  }
  100% {
    background-position: 0% 15%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 15%;
  }
  50% {
    background-position: 100% 86%;
  }
  100% {
    background-position: 0% 15%;
  }
}
@-o-keyframes AnimationName {
  0% {
    background-position: 0% 15%;
  }
  50% {
    background-position: 100% 86%;
  }
  100% {
    background-position: 0% 15%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 15%;
  }
  50% {
    background-position: 100% 86%;
  }
  100% {
    background-position: 0% 15%;
  }
}

.bgCard {
  background-color: #ffffff00;
}

.label > label {
  font-weight: 500;
}
